@model MSTART_Task.Models.User

@{
    ViewData["Title"] = "User Information";
}

<h1>User Information </h1>

<div>
    <h4>@(Model.First_Name) @(Model.Last_Name)</h4>
    <hr />
    <div class="row">
        <p class = "col-sm-4">
            Server DateTime
        </p>
        <p class = "col-sm-8">
            @Model.Server_DateTime
        </p>
        <p class = "col-sm-4">
            DateTime UTC
        </p>
        <p class = "col-sm-8">
            @Model.DateTime_UTC
        </p>
        <p class = "col-sm-4">
            Update DateTime UTC
        </p>
        <p class = "col-sm-8">
            @Model.Update_DateTime_UTC
        </p>
        <p class = "col-sm-4">
            Username
        </p>
        <p class = "col-sm-8">
            @Model.Username
        </p>
        <p class = "col-sm-4">
            Email
        </p>
        <p class = "col-sm-8">
            @Model.Email)
        </p>
        
        
        <p class = "col-sm-4">
            Status
        </p>
        <p class = "col-sm-8">
            @(Enum.GetNames(typeof(Status)).GetValue(Model.Status))
        </p>
        <p class = "col-sm-4">
           Gender
        </p>
        <p class = "col-sm-8">
            @(Enum.GetNames(typeof(Gender)).GetValue(Model.Gender))
        </p>
        <p class = "col-sm-4">
           Date Of Birth
        </p>
        <p class = "col-sm-8">
            @Model.Date_Of_Birth
        </p>
    </div>
</div>
<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
